@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: #fafaf9;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-family: 'Cormorant Garamond, serif';
}